<div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; bottom: #transparent-sticky-navbar">
    <nav class="uk-navbar-container" uk-navbar style="position: relative; z-index: 980;">
        <div class="uk-navbar-left">
            <ul class="uk-navbar-nav">    
                <li id="menutransactionhistory" >
                    <a href="/transactionhistory">Transaction History</a>
                    <div class="uk-navbar-dropdown">
                        <ul class="uk-nav uk-navbar-dropdown-nav">
                            <li id="menutransactiondetail" ><a href="/transactiondetail">Transaction Detail</a></li>
                        </ul>
                    </div>
                </li>
                <li id="reputations"><a href="/reputations" onClick="">Reputations</a></li>
                <li id="users"><a href="/users" onClick="">Users</a></li>
                <li id="menucreatetransaction"><a href="/createtransaction" onClick="">Create Transaction</a></li>
                <li id="menumyaccount"><a href="/myaccount" onClick="">My Account</a></li>
                <li id="menumytransactions"><a href="/mytransactions" onClick="">My Transactions</a></li>
            </ul>

        </div>
    </nav>
</div>